/Ej.Acceso_Datos/build/
/Ej.Acceso_Datos/nbproject/private/
/Proyectos/Proyecto_TicketMaster/nbproject/private/
/XML/XML/nbproject/private/
/XML/LecturaSAXXML/nbproject/private/
/XML/LecturaSAXXML/build/
/XML/EscribirPersonas/nbproject/private/
/Proyectos/Proyecto_TicketMaster/build/
/XML/EscribirPersonas/build/
/BufferedReader/nbproject/private/
/LecturaBuffer/nbproject/private/
/EscrituraBuffer/nbproject/private/
/Lectura_Escritura/nbproject/private/
/DataStream/nbproject/private/
/SalidaDatos/nbproject/private/
/VorDir/nbproject/private/
/Listado_Directorios/nbproject/private/
/Proyectos/Ticketmaster/nbproject/private/
/Proyectos/Ticketmaster/build/
/Manejo_ficheros/Listado_Directorios/build/
/Manejo_ficheros/Lectura/nbproject/private/